h1{
  color:Black;
  align-items:center;
  text-align:center;
  width:99%;
  border:5px solid black;
  text-size:150px;
}

h3{
  color:Black;
  align-items:center;
  text-align:center;
  border-color:black;
  padding:10px;
  margin:10px;
}

img{
  border: 5px solid black;
}

.toppbild{
   width:99%;
   align-items: top;
   justify-content: center;
 }

 .infoknappar{
   /*flexbox*/
   display: flex;
   margin:10px auto;
   justify-content: center;
   align-items:center;


   /*styling*/
   width: 70%;
   height: 30px;
   text-align: center;
   background-color: black;
   border: 1px solid white;
   color:white;
   padding:10px;
   text-decoration: none;
 }

 .justnurubrik{
   color:white;
   background-color:black;
   text-align: center;
   font-size:25px;
   padding: 7px;
   width:98%;
   align-items:center;
}

.justnu{
  color:Black;
  background:white;
  margin:10px;
  width:99%;
  font-size:20px;
  text-align: center;
}

.vadtyckerdu{
   width:99%;
   align-items: top;
   justify-content: center;
 }

 .vadtyckerdutext{
   color:white;
   background-color:black;
   text-align: center;
   font-size:25px;
   padding: 7px;
   width:98%;
   align-items:center;
   }

.form{
  color:black;
  text-align:center;
}

.masten{
  color:white;
  background-color:black;
  text-align: center;
  font-size:25px;
  padding: 7px;
  width:98%;
  align-items:center;
  margin-top:20px;
}
